.panel {
  border-radius: 10px;
  box-shadow: 0 3px 5px #eee;
}
.panel > .panel-heading {
  background-color: #fbfbfb;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
html,
body {
  background: #f5f5f5;
}
#main {
  margin-top: 30px;
}
#main #profile .avatar {
  max-height: 120px;
  margin-top: 15px;
}
#main #profile .btn-stat {
  color: #555;
  border-right: 1px #f0f0f0 solid;
  padding: 0;
  width: 25%;
  height: 45px;
}
#main #profile .btn-stat:hover {
  font-size: 16px;
  color: #1685a9;
}
#main #profile .btn-stat:last-child {
  border-right: 0;
}
#main #profile .btn-stat:first-child {
  margin-left: 12.5%;
}
#main #profile .btn-stat > span {
  display: block;
}
#main #profile .btn-stat > a.link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#main #profile #nav {
  margin-top: 15px;
  text-align: center;
}
#main #profile #nav > .active,
#main #profile #nav > .list-group-item:hover:not(.active) {
  background-color: #44cef6;
  border-color: #fff;
  z-index: 2;
  color: #fff;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
#main #center .header {
  font-size: 16px;
  margin: 10px;
  color: #aaa;
}
#main #center .article {
  border-bottom: 1px #eee solid;
  padding-bottom: 25px;
  padding-top: 5px;
}
#main #center .article:last-child {
  border-bottom: 0;
}
#main #center .article > .title > a {
  color: #333;
}
#main #center .article > .title > a:hover {
  color: #005ab2;
  text-decoration: none;
}
#main #center .article > .excerpt {
  font-size: 14px;
  margin: 0;
  opacity: .8;
  line-height: 24px;
  letter-spacing: 1px;
}
#main #center .article > .time {
  line-height: 35px;
  opacity: .6;
  font-size: 14px;
}
#main #center #article .title {
  font-size: 24px;
  line-height: 30px;
}
#main #center #article .time {
  font-size: 12px;
  line-height: 18px;
  color: #999;
}
#main #center #article .content > p {
  font-size: 15px;
  line-height: 1.8em;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#main #center #article .tags {
  margin-top: 30px;
}
#main #center #article .tags .tag,
#main #center #article .tags .glyphicon {
  color: #777;
  padding-right: 5px;
}
#main #center > .panel-body {
  min-height: 450px;
}
#main #center > .panel-body .column {
  color: #777;
  padding: 0 10px;
  line-height: 30px;
}
#main #center > .panel-body #tags {
  text-align: center;
}
#main #center > .panel-body #tags .tag {
  padding: 10px 15px;
  color: #999;
  border-radius: 5px;
}
#main #center > .panel-body #tags .tag:hover {
  background-color: #44cef6;
  border-color: #fff;
  z-index: 2;
  color: #fff;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
  text-decoration: none;
}
#main .copyright {
  font-size: 13px;
  color: #999;
}
#main .copyright p {
  margin-bottom: 0!important;
}

/*# sourceMappingURL=style.css.map */
